<?xml version='1.0' encoding='utf-8'?>
<widget id="com.preextinctrhinos.rockStacker" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rock Stacker</name>
    <description>
        The first famous verion of the classic riverside game.
    </description>
    <author email="danielebaker@gmail.com">
        Dan Baker
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
